.header {


    background-color: black;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(21, 21, 21, 0.73)), url('image/bannerimage.png');
    width: 75%;
    border-radius: 16px;
    margin: auto;



}

.text {

    text-align: center;
    padding: 110px 210px 52px 210px;
    font-size: 40px;
    line-height: 60px;
    color: #fff5f5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.text em {
    font-size: 35px;
}

.second,
.image {

    width: 75%;
    margin: auto;

    flex-shrink: 0;
    background-repeat: no-repeat;
    display: block;

}

.second h1,
h4 {
    margin-bottom: 80px;
}

.s-text h1 {
    color: #F00;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: 10px;
    padding-top: 80px;
}

.s-text h4 {
    color: #F00;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

main section,
.s-text,
h4 em {
    color: #070211;
    text-align: center;

    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

main section {
    width: 75%;
    margin: auto;
    padding-bottom: 150px;

}

.third {

    background-image: url('image/Vectorrr.png');
    background-repeat: no-repeat;
    border-radius: 16px;
    width: 75%;
    border-radius: 16px;
    display: flex;


}

.t-image {
    width: 75%;
    margin: auto;
}

section .third {
    margin-left: 200px;
}

.t-text {
    padding-top: 150px;
}

.third,
.t-text h1 {

    color: #FFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: left;
    letter-spacing: 2.04px;
    padding-left: 10px;

}

.third,
.t-text,
p {
    color: #FFF;
    padding-left: 10px;
    padding-right: 280px;
    margin: 0;
    font-size: 15px;
    letter-spacing: 0;


}

.join-now {
    display: block;
    color: #FFF;
    padding-left: 20px;
    padding-top: 60px;
    text-decoration: none;
}

.fourth {
    padding: 0;
    line-height: 0;
}

.fourth em {
    color: #F00;
    font-style: normal;
}

.btn-fourth {
    background-color: #F00;
    color: #ffffff;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: medium;
    border-radius: 10px;
    margin-bottom: 100px;
}

.fifth {
    display: flex;
    width: 100%;
    margin: auto;
    background-color: antiquewhite;
    padding: 2px;
    border-radius: 10px;

}

.f-one {
    margin-left: 0px;
    width: 100%;
    margin: auto;

}

.f-one h3 {
    color: #070211;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.f-one em {

    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#f-one-id {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 40;
    line-height: normal;
}

.f-two {

    width: 100%;
    margin: auto;



}



.f-three {

    width: 100%;
    margin: auto;
}

.f-three h1{
    color: #F00;
font-family:Arial, Helvetica, sans-serif;

font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal; 
}

.f-three em{
    color: rgba(7, 2, 17, 0.60);
font-family:Arial, Helvetica, sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal; 
}
